body {
    background-color: #e2e4e5;
}
h1 {
  text-align: center;
  font-weight: bold;
  
  font-family: 'Montserrat', sans-serif;
  background-color: #eceff1;   
}
div.pak-flag {
    width: 300px;
    height: 200px;
    display: flex;
    
   
}
div.white {
    background: white;
    width: 20%;
    
   
}
div.green {
    background: #1a401c;
    width: 80%;
}
.fa-star-and-crescent {
    color: white;
    /* background-color: white; */
    font-size: 80px;
    position: relative;
    top: 50px;
    left: 50px;
}
div.flags, .row-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: ;
    align-items: space-around;
    margin: 10%;
    
}
div.turkey-flag {
    width: 300px;
    height: 200px;
    background-color: #e3432d;
}
div.germany-flag {
    width: 300px;
    height: 200px;
   
 
}
div.germany-flag .black {
    background-color: black;
    height: 33%;
}
div.germany-flag .green-ger {
    background: #408926;
    height: 33%;
}
div.germany-flag .yellow {
    background-color: #f9c333;
    height: 33%;
}
div.spain-flag {
    width: 300px;
    height: 200px;
    
   

}
div.spain-flag .red-top, div.spain-flag .red-bottom   {
    background-color: #ed4633;
    height: 20%;
}

div.spain-flag .yellow {
    background-color:  #fcd542;
    height: 60%;
    margin: 0 auto;
}
.row-1, row-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

